In [6]:
import numpy as np
import pandas as pd
import json

In [7]:
df = pd.read_csv("Latency_Data/Hourly_data/moffit_latency_3:2.csv")

In [8]:
df.head()

,Unnamed: 0,Hour,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,0,0,61.768,65.961,47.836,44.450,54.373,48.950,27.964
1,28,0,56.766,69.586,64.682,56.897,38.494,28.365,39.650
2,29,0,49.889,55.008,51.850,58.600,62.582,42.626,43.705
3,30,0,70.273,56.915,74.950,54.930,69.379,42.461,37.853
4,31,0,39.157,50.195,61.010,57.462,51.474,40.751,74.039

In [9]:
df.shape

(1200, 9)

In [15]:
loc_map = {2:[37.8726, -122.2607], 3:[37.8692, -122.2597], 4:[37.8703, -122.2581],
          5:[37.8752, -122.2615], 6:[37.8756, -122.2588], 7:[37.8753, -122.256], 8:[37.871716, -122.264999]}

In [32]:
j_data = {'testData':{}}

for i in range(data.shape[0]):
    j_data['testData'][i] = {}
    for j in range(2, data.shape[1]):
        j_data['testData'][i][j-2] = loc_map[j] + [df.iloc[i,j]]

In [35]:
with open('test.json', 'w') as outfile:
    json.dump(j_data, outfile)

In [29]:
reset = {1:1}

In [30]:
with open('reset.json', 'w') as outfile:
    json.dump(reset, outfile)

In [39]:
j_data['testData'][0]

{0: [37.8726, -122.2607, 61.768],
 1: [37.8692, -122.2597, 65.961],
 2: [37.8703, -122.2581, 47.836000000000006],
 3: [37.8752, -122.2615, 44.45],
 4: [37.8756, -122.2588, 54.373000000000005],
 5: [37.8753, -122.256, 48.95],
 6: [37.871716, -122.264999, 27.964000000000002]}